<!-- <form action="/tests/1" method="patch">

  <label for="title">Test title</label>
  <input type="text" name="test[title]" value="title">

  <label for="words_list">Words</label>
  <input type="text" name="test[words_list]" value="words_list">

  <input type="submit">

</form> -->




<%= render "form" %>
