<form action="/tests" method="get">
  <input type="text" name="bottom_test" placeholder="Which lower test do you want">
  <input type="submit">
  <input type="text" name="top_test" placeholder="Which top test do you want">
  <input type="submit">

</form>
