<p>Take tests page</p>
<%= link_to tests_path do%>
  <button class="btn btn-primary"> To All Tests </button>
<% end %>
<br>
<br>
<br>

<% @test.words_list.each do |i| %>

  <%= i %>
  <br>
<% end %>

<br>

<% testvar = "ten pence is a internet" %>

<%= link_to say_word_tests_path(@word, :sample => testvar) do %>
<button class-"btn btn-primary"> Say word </button>
<% end %>


<button id="myBtn">Play</button>
<script>
  document.getElementById("myBtn").addEventListener("click", play);
  function play() {
    var msg = new SpeechSynthesisUtterance("<%= testvar %>");
    window.speechSynthesis.speak(msg)
  }
</script>
